@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Alexandria:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Kalam:300,regular,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-hidden {
    overflow: hidden !important ;
    pointer-events: none !important ;
}

.popup {
    pointer-events: auto !important ;
}

#fp-nav .active span {
    background-color: #2b7bc2 !important ;
    height: 12px !important ;
    width: 12px !important ;
    margin: -6px 0 0 -6px !important ;
}
#fp-nav span {
    background-color: white !important ;
    height: 6px !important ;
    width: 6px !important ;
    margin: -3px 0 0 -3px !important ;
}

.fp-watermark {
    display: none !important ;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[dir='ltr'] * {
    font-family: 'Open sans', 'Helvetica Neue';
}

[dir='rtl'] * {
    font-family: 'Alexandria' !important;
}

.clipathEffct {
    transition: 1s;
    border-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: -1;
}
div:hover > .clipathEffct {
    transition: 0.3s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@layer components {
    .text40 {
        font-size: clamp(30px, 5vw, 40px);
    }
    .text24 {
        font-size: clamp(20px, 4vw, 24px);
    }
    .text22 {
        font-size: clamp(18px, 4vw, 22px);
    }
    .text20 {
        font-size: clamp(16px, 4vw, 20px);
    }
    .text18 {
        font-size: clamp(14px, 3vw, 18px);
    }
    .text16 {
        font-size: clamp(14px, 3vw, 16px);
    }
    .text14 {
        font-size: clamp(12px, 2vw, 14px);
    }

    .center {
        @apply flex flex-col gap-[30px] justify-center items-center;
    }
    .error {
        font-size: clamp(8px, 2vw, 10px);
        @apply text-red-600  top-full mt-[2px] rtl:right-[0px] ltr:left-[0px] text14;
    }

    .mixitup-filtered {
        @apply opacity-0 scale-90 pointer-events-none;
    }
}

.img-overlay {
    @apply absolute inset-0 h-full w-full object-cover;
}

/* Overlay */

.bg-overlay {
    @apply w-full h-full inset-0 absolute;
    background: linear-gradient(150.97deg, #000000 -0.69%, rgba(0, 0, 0, 0.33) 95.9%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.swiper-slide::-webkit-scrollbar{
    width: 3px !important;
    @apply !bg-primary
}
html {
    scroll-behavior: smooth;
}

.full-square {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
.half-square {
    clip-path: polygon(0 45%, 54% 47%, 56% 98%, 48% 101%);
}

.dropdown-animation {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

.dropdown-animation.open {
    max-height: 1000px; /* Adjust this value based on your content */
  }

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #6f6f6f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/*  animation  */

::selection {
    background: rgba(170, 170, 170, 0.3);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

/*  Skelton */

.skeleton-box {
    position: relative;
    overflow: hidden;
    background-color: #111;
}

.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);

    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0));
    -webkit-animation: shimmer 3s infinite;
    animation: shimmer 3s infinite;
    content: '';
}

@-webkit-keyframes shimmer {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes shimmer {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

/* bullets */

.swiper-pagination-bullet {
    width: 14px !important;
    height : 14px !important ;
    border-radius: 0 5px 0 5px !important;
    transition: .3s;
    background-color: white !important;
    padding-right: 20px;
    @apply lg:!mr-[20px]
  }

  .black {
    background-color: black !important;
  }
  
  .swiper-pagination-bullet-active{
    @apply !bg-primary duration-300 transition-all
  }


  .swiper-slide{
    overflow-y: auto !important ;
  }



  /*  preload */

 
  .one {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

    .two {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
  
.loading-bar{
    width: 170px;
    height: 4px;
    background: #cfcfcf;
    margin-top: 32px;
    position: relative;
    overflow: hidden;
  }
  
  .loading-bar::before{
    content: '';
    width: 68px;
    height: 4px;
    background: #2B7BC2;
    position: absolute;
    left: -34px;
    animation: bluebar 1.5s infinite ease;
  }
  
  @keyframes bluebar{
    50%{
      left: 96px;
    }
  }